camelot-py~=1.0.0
fitz~=0.0.1.dev2
tqdm~=4.67.1
pathlib~=1.0.1
networkx~=3.4.2
openai~=1.58.1
pyvis~=0.3.2
tiktoken~=0.8.0
numpy~=2.2.4
spacy~=3.8.4
chromadb~=0.6.3
sentence-transformers~=4.0.2
python-louvain~=0.16
gradio~=5.23.1